# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/RemoteClient/.vs
/RemoteCtrl/.vs
/RemoteClient/.vs/RemoteClient/v15/.suo
/RemoteClient/.vs/RemoteClient/v15/Browse.VC.db
/RemoteClient/RemoteClient.cpp
/RemoteCtrl/RemoteCtrl.vcxproj.user
/RemoteClient/RemoteClient.vcxproj.user
/RemoteCtrl/Debug
/RemoteClient/Debug
/RemoteCtrl/Debug/RemoteCtrl.ilk
/RemoteCtrl/Debug/RemoteCtrl.log
/RemoteCtrl/Debug/RemoteCtrl.pdb
/RemoteCtrl/Debug/RemoteCtrl.res
/RemoteCtrl/Debug/RemoteCtrl.tlog/CL.command.1.tlog
/RemoteCtrl/Debug/RemoteCtrl.tlog/CL.read.1.tlog
/RemoteCtrl/Debug/RemoteCtrl.tlog/CL.write.1.tlog
/RemoteCtrl/Debug/RemoteCtrl.tlog/RemoteCtrl.lastbuildstate
/RemoteCtrl/Debug/RemoteCtrl.tlog/link.command.1.tlog
/RemoteCtrl/Debug/RemoteCtrl.tlog/link.read.1.tlog
/RemoteCtrl/Debug/RemoteCtrl.tlog/link.write.1.tlog
/RemoteCtrl/Debug/RemoteCtrl.tlog/rc.command.1.tlog
/RemoteCtrl/Debug/RemoteCtrl.tlog/rc.read.1.tlog
/RemoteCtrl/Debug/RemoteCtrl.tlog/rc.write.1.tlog
/RemoteCtrl/Debug/vc141.idb
/RemoteCtrl/Debug/vc141.pdb
/RemoteCtrl/Debug/RemoteCtrl.ilk
/RemoteCtrl/Debug/RemoteCtrl.log
/RemoteCtrl/Debug/RemoteCtrl.pdb
/RemoteCtrl/Debug/RemoteCtrl.res
/RemoteCtrl/Debug/RemoteCtrl.tlog/CL.command.1.tlog
/RemoteCtrl/Debug/RemoteCtrl.tlog/CL.read.1.tlog
/RemoteCtrl/Debug/RemoteCtrl.tlog/CL.write.1.tlog
/RemoteCtrl/Debug/RemoteCtrl.tlog/RemoteCtrl.lastbuildstate
/RemoteCtrl/Debug/RemoteCtrl.tlog/link.command.1.tlog
/RemoteCtrl/Debug/RemoteCtrl.tlog/link.read.1.tlog
/RemoteCtrl/Debug/RemoteCtrl.tlog/link.write.1.tlog
/RemoteCtrl/Debug/RemoteCtrl.tlog/rc.command.1.tlog
/RemoteCtrl/Debug/RemoteCtrl.tlog/rc.read.1.tlog
/RemoteCtrl/Debug/RemoteCtrl.tlog/rc.write.1.tlog
/RemoteCtrl/Debug/vc141.idb
/RemoteCtrl/Debug/vc141.pdb
RemoteCtrl/RemoteCtrl.aps
